body {
    background-color: #282c34;
    color: skyblue;
}
pre {
    color: greenyellow;
    text-decoration: wavy;
}
h1, h2, h3 {
    color: darkseagreen !important;
    font-style: Italic !important;
    font-weight: BOLD !important;
}
img {
    position: absolute;
    top: 50%;
    right: 0px;
    bottom: 50%;
    left: 65%;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h4 {
    font-family: 'Dancing Script', cursive;
    font-style: italics;
    font-size: 30px;
    color: White;
}
a {
    color: green;
    text-decoration: underline;
}
